.a-popup-grow{
    opacity: 0;    
    transform: scale(.8);    
    animation: popup_grow 0.3s linear forwards;
}

.a-popup-shrink{
    opacity: 1;
    transform: scale(1); 
    animation: popup_shrink 0.3s linear forwards;
}

.a-fade-in{
    animation: fade-in 0.7s;
}

.a-fade-out{
    animation: fade-out 0.7s linear forwards;
}

@keyframes popup_grow {
    0% {
        opacity: 0;
        transform: scale(.8);        
    }
 
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popup_shrink {
    0% {
        opacity: 1;
        transform: scale(1);
    }
 
    100% {
        opacity: 0;
        transform: scale(.8);        
    }
}

@keyframes fade-out {
    0% {        
        background-color:rgba(black,0.6);
    }
 
    100% {
        background-color:rgba(black,0);
    }
}

@keyframes fade-in {
    0% {
        background-color:rgba(black,0);
    }
 
    100% {
        background-color:rgba(black,0.6);
    }
}

