.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px;

  @media screen and (min-width: $sm) {
    max-width: 540px;
  }

  @media screen and (min-width: $md) {
    max-width: 720px;
  }

  @media screen and (min-width: $lg) {
    max-width: 1140px;
  }

  @media screen and (min-width: 1910px) {
    max-width: 1680px;
  }
}

.container-fluid {
  width: 100%;

  padding-left: calc(var(--modular-0-padding) * 1px);
  padding-right: calc(var(--modular-0-padding) * 1px);

  @media screen and (min-width: $sm) {
    padding-left: calc(var(--modular-sm-padding) * 1px);
    padding-right: calc(var(--modular-sm-padding) * 1px);
  }

  @media screen and (min-width: $lg) {
    padding-left: calc(var(--modular-lg-padding) * 1px);
    padding-right: calc(var(--modular-lg-padding) * 1px);
  }

  @media screen and (min-width: $xl) {
    padding-left: calc(var(--modular-xl-padding) * 1px);
    padding-right: calc(var(--modular-xl-padding) * 1px);
  }

  margin-right: auto;
  margin-left: auto;
  max-width: 1490px;
}

.container-fluid-lg {
  max-width: 1120px;
  @media screen and (min-width: 1200px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.u-nav {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
}

@mixin distance-loop($name, $columns) {
  @if $name != "" {
    @for $i from 0 through $columns {
      .pt-#{$name}-#{$i} {
        padding-top: #{$i * 5}px !important;
      }
      .pb-#{$name}-#{$i} {
        padding-bottom: #{$i * 5}px !important;
      }

      .mt-#{$name}-#{$i} {
        margin-top: #{$i * 5}px !important;
      }
      .mb-#{$name}-#{$i} {
        margin-bottom: #{$i * 5}px !important;
      }
      .mr-#{$name}-#{$i} {
        margin-right: #{$i * 5}px !important;
      }
      .ml-#{$name}-#{$i} {
        margin-left: #{$i * 5}px !important;
      }
    }
  } @else {
    @for $i from 0 through $columns {
      .pt-#{$i} {
        padding-top: #{$i * 5}px !important;
      }
      .pb-#{$i} {
        padding-bottom: #{$i * 5}px !important;
      }
      .mt-#{$i} {
        margin-top: #{$i * 5}px !important;
      }
      .mb-#{$i} {
        margin-bottom: #{$i * 5}px !important;
      }
      .ml-#{$i} {
        margin-left: #{$i * 5}px !important;
      }
      .mr-#{$i} {
        margin-right: #{$i * 5}px !important;
      }
    }
  }
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-xl-0 {
  @media screen and (min-width: $xl) {
    padding-right: 0 !important;
  }
}

.pl-xl-0 {
  @media screen and (min-width: $xl) {
    padding-left: 0 !important;
  }
}

.pl-5 {
  padding-left: 25px !important;
}

.pr-5 {
  padding-right: 25px !important;
}
.pr-lg-5 {
  @media screen and (min-width: $lg) {
    padding-right: 25px !important;
  }
}

@mixin ml-auto($name, $breakpoint) {
  @if $name != "" {
    .ml-#{$name}-auto {
      @media screen and (min-width: $breakpoint) {
        margin-left: auto !important;
      }
    }
  } @else {
    .ml-auto {
      margin-left: auto !important;
    }
  }
}

@mixin mr-auto($name, $breakpoint) {
  @if $name != "" {
    .mr-#{$name}-auto {
      @media screen and (min-width: $breakpoint) {
        margin-right: auto !important;
      }
    }
  } @else {
    .mr-auto {
      margin-right: auto !important;
    }
  }
}

@mixin mx-auto($name, $breakpoint) {
  @if $name != "" {
    .mx-#{$name}-auto {
      @media screen and (min-width: $breakpoint) {
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  } @else {
    .mx-auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}

@each $name, $breakpoint in $breakpoints {
  @include ml-auto($name, $breakpoint);
  @include mr-auto($name, $breakpoint);
  @include mx-auto($name, $breakpoint);

  @media screen and (min-width: $breakpoint) {
    @include distance-loop($name, 20);
  }
}

@mixin d-block($name, $breakpoint) {
  @if $name != "" {
    .d-#{$name}-block {
      @media screen and (min-width: $breakpoint) {
        display: block !important;
      }
    }
  } @else {
    .d-block {
      display: block !important;
    }
  }
}

@mixin d-inline($name, $breakpoint) {
  @if $name != "" {
    .d-#{$name}-inline {
      @media screen and (min-width: $breakpoint) {
        display: inline !important;
      }
    }
  } @else {
    .d-inline {
      display: inline !important;
    }
  }
}

@mixin d-flex($name, $breakpoint) {
  @if $name != "" {
    .d-#{$name}-flex {
      @media screen and (min-width: $breakpoint) {
        display: flex !important;
      }
    }
  } @else {
    .d-flex {
      display: flex !important;
    }
  }
}

@mixin d-none($name, $breakpoint) {
  @if $name != "" {
    .d-#{$name}-none {
      @media screen and (min-width: $breakpoint) {
        display: none !important;
      }
    }
  } @else {
    .d-none {
      display: none !important;
    }
  }
}

@each $name, $breakpoint in $breakpoints {
  @include d-flex($name, $breakpoint);
  @include d-block($name, $breakpoint);
  @include d-inline($name, $breakpoint);
  @include d-none($name, $breakpoint);

  //@include ml-auto($name, $breakpoint);
  //@include mr-auto($name, $breakpoint);
  //@include mx-auto($name, $breakpoint);
}

.u-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.u-parent-link {
  text-decoration: none !important;
  &:hover {
    .u-child-link {
      text-decoration: underline !important;
    }
  }
}

.u-text-left {
  text-align: left !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-shadow-sm {
  @include m-shadow-sm();
}

.u-shadow {
  @include m-shadow();
}

.u-relative {
  position: relative;
}

.u-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

.u-clearfix {
  clear: both;
  width: 100%;
}

.u-tran-all {
  @include tran-all;
}

.u-tran-all-slow {
  @include tran-all-slow;
}

.u-order-first {
  order: -1 !important;
}

.u-order-md-initial {
  @media screen and (min-width: $md) {
    order: initial !important;
  }
}

.u-order-lg-initial {
  @media screen and (min-width: $lg) {
    order: initial !important;
  }
}

.u-mask {
  position: relative;
  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    //z-index: 10;
  }

  &.o4::after {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.u-z-index-10 {
  z-index: 10 !important;
}

.u-z-index-20 {
  z-index: 20 !important;
}

.u-overflow-hidden {
  overflow: hidden !important;
}

.u-cols-reverse {
  flex-direction: column-reverse;
  @media screen and (min-width: $lg) {
    flex-direction: initial;
  }
}

.u-w-100 {
  width: 100% !important;
}

.align-items-flex-start {
  align-items: flex-start !important;
}

.u-w-1350-100 {
  @media screen and (min-width: 1350px) {
    width: 100% !important;
  }
}

.u-br-none {
  p br,
  br {
    display: none;
  }
}

.u-pb-last-of-type-0 {
  p:last-of-type {
    padding-bottom: 0 !important;
  }
}

.u-mb-last-of-type-0 {
  p:last-of-type {
    margin-bottom: 0 !important;
  }
}

.u-flex-1 {
  flex: 1 !important;
}

.u-visible-hidden {
  visibility: hidden !important;
}
