.c-breadcrumb-yoast {
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: $lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .container-fluid {
    max-width: 1800px !important;
  }

  display: flex;
  align-items: center;
  justify-content: flex-start;

  i {
    color: $black;
  }

  /* a,span{
    padding-right:8px;
  } */
  a,
  span,
  p {
    line-height: 1.2em;
    font-size: 1rem;
    font-weight: 400;
    /* letter-spacing: 1px; */
    text-decoration: none;
  }

  .breadcrumb_last {
    font-weight: 400;
  }
}

.section-gray {
  &.breadcrumb-wrapper {
    /* background-color: $white !important; */

    border-bottom: 1px solid $gray_light;

    a,
    span,
    p {
      color: $black;
    }
    /* 
  a:hover{
    color:$black;
    text-decoration: underline;
  } */

    a {
      color: $black;

      transition: all 0.15s linear;
      border-bottom: 1px solid transparent;

      &:hover {
        //color: $orange;
        border-bottom: 1px solid $black;
      }
    }

    .breadcrumb_last,
    .active {
      color: var(--modular-breadcrumb-highlighted);
    }
  }
}
