.modal-support{
    .form__wrapper {
        max-width: 570px;
        margin: 0 auto;
        position: relative;

        padding: 30px 30px 30px 40px;
        @media screen and (min-width: $sm) {
            padding: 40px 40px 40px 40px;
        }
    }

    .o-custom-check {
        input[type="checkbox"] {
            width: 24px;
            left: 14px;
            top: 6px;
        }

        .box i {
            font-size: 24px;
            height: 24px;
            width: 24px;
        }

        .text {
            line-height: 1.5em;
        }
    }

    .modal__submit--wrapper {
        flex-wrap: wrap;
        .attach__file {
            /* margin-top:14px; */
            /* margin-bottom: 0px;  */
            max-width: 160px;
            overflow: hidden;
            word-break: break-all;
        }
        .modal__submit {
            width: 200px !important;
        }
    }
}

.modal__wrapper {
    z-index: 10000;
    top: 0px;

    overflow: auto;

    display: none;
    &.active {
        display: flex;
    }

    position: fixed;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;

    align-items: flex-start;
    @media screen and (min-width: $sm) {
        padding-top: 0px;
        padding-bottom: 0px;
        align-items: center;
    }

    .modal__container {
        position: relative;
        /* margin: 30px 0; */

        .modal__x {
            position: absolute;

            right: 20px;
            top: 20px;

            height: 42px;
            width: 42px;
            padding: 10px;
            display: block;
            cursor: pointer;
            z-index: 10;
        }

        .modal__title {
            font-size: 30px;
            font-weight: 700;
            line-height: 1.2em;
        }

        .modal__error {
            display: none;
            .modal__error-text {
                @include fontSize(20px);
                color: $red;
                font-weight: 400;
            }
            margin-bottom: 2rem;
        }

        .modal__info {
            display: none;
            .modal__info-text {
                @include fontSize(20px);
                color: $green_dark;
                font-weight: 300;
            }
            margin-bottom: 2rem;
        }

        .input--modal {
            @include fontSize(16px);
            line-height: calcRem(18px);
            margin-bottom: 1.5rem;
            padding: 8px 15px;
            width: 100%;

            &::placeholder {
                color: #9aa3aa;
            }
        }

        .label--modal {
            @include fontSize(19px);
            line-height: calcRem(24px);
            font-weight: 300;
            display: block;
            margin-bottom: 10px;
        }

        .modal__submit--wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .modal__submit {
                /* font-size: 1.25rem; */
                border: none;
                width: auto;
                padding: 16px 14px;
                @media screen and (min-width: 450px) {
                    padding: 22px 20px;
                }
                @media screen and (min-width: $sm) {
                    width: 220px;
                    padding: 26px 28px;
                }
            }
        }

        .g-recaptcha {
            transform: scale(0.77);
            transform-origin: top left;
            @media screen and (min-width: $sm) {
                transform: scale(1);
                margin-bottom: 20px;
            }

            display: none;
            &.active {
                display: block;
            }
        }

        .o-custom-check {
            label,
            input {
                color: $white;
            }
            .text {
                font-weight: 400;
            }
        }
    }
}

.section-white {
    .input--modal {
        border: 1px solid $black;
    }
}





