// FAQ block
.c-section--faq {
  display: block;
  width: 100%;
  padding-top: 120px !important;
  padding-bottom: 50px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  &.c-section--faq-no-padding-bottom {
    padding-bottom: 0 !important;
  }

  .section__title {
    position: relative;
    font-family: var(--modular-primary-font);
    @include fontSize(2.8rem);
    line-height: 1.2em;
    font-weight: 400;
    text-transform: none;
    margin-bottom: calcRem(50px);
    text-align: center;
    color: $black_light !important;
  }

  .faq-wrapper {
    width: 100%;
  }

  .faq__row {
    width: 100%;
    padding: calcRem(36px) calcRem(36px) calcRem(36px) calcRem(36px);
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    cursor: pointer;

    * {
      font-size: 0.875rem;
    }

    .faq__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__content {
        @include fontSize(18px);
        font-weight: 700; // Make questions bold
        width: calc(100% - 20px);
        @media screen and (min-width: $md) {
          width: calc(100% - 40px);
        }
      }

      .faq__icon {
        width: 20px;
        margin-left: auto;
        margin-right: 0;
        position: relative;

        .icon__img {
          @include tran-all;
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          left: 0;
          width: 100%;
        }
      }
    }
  }

  .faq__row {
    .expand {
      opacity: 1;
    }
    .colapse {
      opacity: 0;
    }

    &.active {
      .expand {
        opacity: 0;
      }
      .colapse {
        opacity: 1;
      }
    }
  }

  .faq__content {
    padding-top: calcRem(20px);
    display: none;

    .content__wrapper {
      width: calc(100% - 40px);
      display: inline-block;
      text-align: left;

      @include fontSize(18px);
      font-weight: 400;

      line-height: 1.5em;
    }
  }
}

.section-gray,
.section-dark,
.section-bright {
  .c-section--faq .faq__row {
    background-color: $white;
  }
}
